Options -Indexes
RewriteEngine On
# 如果请求的资源是已存在的文件或目录，则不重写
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?note=$1 [QSA,L]

<IfModule mod_headers.c>
    Header set X-Robots-Tag: "noindex, nofollow"
</IfModule>

# Uncomment the lines below to enable basic authentication.
# See https://httpd.apache.org/docs/current/programs/htpasswd.html for generating your .htpasswd

# AuthType basic
# AuthName "website.name"
# AuthUserFile "/home/user/update-path-to.htpasswd"
# Require valid-user
